.main-area[data-v-05795ba2]{max-width:1300px;display:block;margin:auto}.bg-main[data-v-05795ba2]{background-color:#f1f8fe}.nsp-part_b1[data-v-05795ba2]{background-color:#fff;border-radius:10px;padding:10px;margin-bottom:20px}